<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-body">
        <div class="row">
          <div class="col-md-5">
<% @stocks.each do |stock| %>
  <%= stock.product_name %>

  <%=simple_form_for @line_item, url: :consumers_section_line_items do |f| %>
  <%= f.error_notification %>
  <%=f.input :quantity %>
  <%=f.input :unit_cost, input_html: { value: stock.retail_price } %>
  <%=f.input :stock_id, input_html: { value: stock.id } %>

  <%= f.input :user_id, input_html: { value: current_user.id }, readonly: true %>
  <%= f.submit "Add to Cart", data: { disable_with: "Adding..." }, class: "btn btn-default btn-flat" %>
  <% end %>
<% end %>
</div>
<div class="col-md-5 col-md-offset-1">
  <h3 class="box-title"> Cart </h3>
  <%=link_to 'Checkout', new_consumers_section_order_path, class: "btn btn-primary btn-flat" %>
  <% @cart.line_items.each do |line_item| %>
  <div class="row">
    <div class="col-md-3">
    <%= line_item.quantity_and_unit %>
  </div>
  <div class="col-md-6">
      <%=line_item.product_name %>
    </div>
    <div class="col-md-2">
      <%= number_to_currency line_item.total_cost %>
    </div>
  </div>
  <hr />
  <% end %>
</div>
