
<div class="modal-dialog">
  <div class="modal-content">
    <%= simple_form_for @entry, html: { style: "display:inline;" } do |f| %>
      <div class="modal-header">
        <h3 class="modal-title">New Entry</h3>
      </div>
      <div class="modal-body">
        <ul class="errors text-danger">
        </ul>
        <div class="row">
          <div class="col-md-6">
            <%=f.input :date, as: :string, input_html: { class: "datepicker" } %>
          </div>
          <div class="col-md-6">
            <%=f.input :reference_number %>
          </div>
        </div>
        <%=f.input :description %>

        <%=f.simple_fields_for :debit_amounts do |ff| %>
          <%=ff.input :amount %>
          <%=ff.input :account, collection: Accounting::Account.active.all.pluck(:name), label: 'Debit Account' %>
        <% end %>
        <%=f.simple_fields_for :credit_amounts do |ff| %>
          <%=ff.input :amount, as: :hidden %>
          <%=ff.input :account, collection: Accounting::Account.active.all.pluck(:name), label: 'Credit Account' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to "Cancel", accounting_entries_path, class: "btn pull-left", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $("#accounting_entry_debit_amounts_attributes_0_account").select2({
    theme: "bootstrap",
    placeholder: 'Select Account',
    width: '100%',
    dropdownAutoWidth : true
  });
  $("#accounting_entry_credit_amounts_attributes_0_account").select2({
    theme: "bootstrap",
    placeholder: 'Select Account',
    width: '100%',
    dropdownAutoWidth : true
  });
</script>