

<div class="row">
  <div class="col-md-6">
    <div class="box box-solid">
      <div class="box-header">
        <h4 class="title"> Disbursement Details </h4>
      </div>
      <div class="box-body">

    <%= simple_form_for [@loan, @disbursement], url: :loans_section_loan_disbursements do |f| %>
    <%= f.error_notification %>
        <%=f.input :date, as: :string, input_html: { class: "datepicker" } %>

<%=f.input :reference_number %>

    <div class="modal-footer">
      <%= f.submit 'Save', class: "btn btn-primary", data: {disable_with: "Saving..."} %>
    </div>
  <% end %>
  </div>
</div>
