<div class="container">
<div class="box box-solid">
<div class="box-header with-border">
<h4>Savigns Account Details</h4>
      </div>
      <div class="box-body">
       <%= simple_form_for [@member, @time_deposit], url: :member_time_deposits  do |f| %>
      <%=f.error_notification %>
<div class="col-md-6">
</div>
<div class="col-md-5">
      <%= f.input :time_deposit_product_id, collection: CoopServices::TimeDepositProduct.all.map{ |a| [a.name.titleize, a.id] }, as: :radio_buttons %>
      <%= f.input :date_deposited, as: :string, input_html: { class: "datepicker" } %>
      <%= f.input :account_number %>
      <div class="modal-footer">
          <%=f.submit 'Save', class: 'btn btn-primary', data: { disable_with: "time_deposit..."} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
