<div class="row">
<div class="col-md-12">
<div class="box box-solid">
<div class="box-header with-border">
  <h4 class="text-muted"> Savings</h4>
</div>
<div class="box-body">
  <div class="table table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Member </th>
          <th> Account # </th>
          <th> Type </th>
          <th><span class="pull-right"> Balance </span> </th>
        </tr>
      </thead>
      <tbody>
        <% @savings.each do |saving| %>
        <tr>
            <td><%=link_to image_tag(saving.member.avatar.url(:small), class: "img-circle"), saving.member%> &nbsp; &nbsp; <%=link_to saving.member.try(:first_and_last_name), saving.member %></td>
            <td><%= saving.account_number.upcase %></td>
            <td> <%= saving.savings_product_name %></td>
            <td><span class="pull-right"><%=number_to_currency saving.balance %></span></td>
              </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
