<div class="tab-pane" id="credit-sales">
  Credit Sales
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date </th>
        <th> Member </th>
        <th> QTY </th>
        <th> Total  </th>
        <th> Profit </th>
      </tr>
    </thead>
    <tbody>
      <% @product.line_items.credit.each do |line_item| %>
      <tr>
        <td><%= line_item.order_date.strftime("%b %e, %Y") %></td>
        <td><%=line_item.member_full_name %></td>
        <td><%=line_item.quantity %> <%=line_item.unit %></td>
        <td><%=number_to_currency line_item.unit_cost %></td>
        <td><%= number_to_currency line_item.profit %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
