<li class="header">GENERAL</li>
<li class="<%='active' if current_page?(loans_section_loans_path)%>">
  <a href="/loans_section/loans">
      <i class="icon-speedometer"></i><span> &nbsp; Dashboard</span>
  </a>
</li>
<li>
  <a href="/members">
    <i class="icon-people"></i> <span> &nbsp; Members</span>
  </a>
</li>

<li class="header">LOANS</li>
<li class="<%='active' if current_page?(loans_section_loans_path)%>">
  <a href="/loans_section/loans">
      <i class="icon-credit-card"></i><span> &nbsp; Loans</span>
  </a>
</li>
<li class="<%='active' if current_page?(loans_section_settings_path)%>">
  <a href="/loans_section/settings">
      <i class="fa fa-cog"></i><span> Loans Settings</span>
  </a>
</li>
<li class="header">CONSUMERS</li>

<li class="<%='active' if current_page?(consumers_section_products_path)%>">
  <a href="/consumers_section/products">
      <i class="icon-grid"></i><span> &nbsp; Products</span>
  </a>
</li>

<li class="<%='active' if current_page?(consumers_section_stocks_path)%>">
  <a href="/consumers_section/stocks">
      <i class="icon-layers"></i><span> &nbsp; Stocks</span>
  </a>
</li>

<li class="<%='active' if current_page?(consumers_section_orders_path)%>">
  <a href="/consumers_section/orders">
      <i class="icon-basket-loaded"></i><span> &nbsp; Sales </span>
  </a>
</li>
<li>
    <a href="/suppliers">
      <i class="fa fa-male"></i> <span>Suppliers</span>
    </a>
  </li>
  <li>
    <a href="/reports">
      <i class="fa fa-file-text-o"></i> <span>Reports</span>
    </a>
  </li>
  <li class="header">SETTINGSS</li>
  <li>
    <a href="/coop/settings">
      <i class="fa fa-cog"></i> <span>Coop Settings </span>
    </a>
  </li>
