<div class="row">
<div class="col-md-12">
<div class="box box-solid">
<div class="box-header with-border">
  <h4 class="text-muted"> Share Capitals</h4>
</div>
<div class="box-body">
  <div class="table table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Member </th>
          <th> Account # </th>
          <th> Type </th>
          <th><span class="pull-right"> Balance </span> </th>
        </tr>
      </thead>
      <tbody>
        <% @share_capitals.each do |share_capital| %>
        <tr>
            <td><%=link_to image_tag(share_capital.member.avatar.url(:small), class: "img-circle"), share_capital.member%> &nbsp; &nbsp; <%=link_to share_capital.member.try(:first_and_last_name), share_capital.member %></td>
            <td><%= share_capital.account_number.upcase %></td>
            <td> <%= share_capital.class.to_s.gsub("ShareCapitals::", "") %></td>
            <td><span class="pull-right"><%=number_to_currency share_capital.balance %></span></td>
              </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
