<div class="container">
<div class="box box-solid">
<div class="box-header with-border">
<h4>Share Capital Product Details</h4>
      </div>
      <div class="box-body">
       <%= simple_form_for @time_deposit_product, url: :coop_services_time_deposit_products  do |f| %>
      <%=f.error_notification %>
<div class="col-md-6">
</div>
<div class="col-md-5">
      <%= f.input :name %>
      <%= f.input :starting %>
      <%= f.input :ending %>
      <%= f.input :interest_rate %>
      <div class="modal-footer">
          <%=f.submit 'Save', class: 'btn btn-primary', data: { disable_with: "Saving..."} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
