<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-2">
            <center><%=image_tag(current_user.avatar.url(:thumb), class: "img-square") %></center>
          </div>
          <div class="col-md-6">
            <p class="text-muted"><%=current_user.full_name %></p>
            <p class="text-muted"><%= current_user.role.try(:titleize) %> </p>
          </div>
        </div>
        <hr />
        <div class="table table-responsive">
          <table class="table table-striped">
            <thead>
              <tr class="text-muted">
                <th> Date </th>
                <th> Reference No. </th>
                <th> Description </th>
                <th> <span class="pull-right"> Amount </span> </th>
              </tr>
            </thead>
            <tbody>
              <% @transactions.each do |payment| %>
                <tr>
                  <td> <%=payment.entry_date.strftime("%B %e, %Y") %></td>
                  <td><%=payment.reference_number.try(:upcase) %></td>
                  <td><%= payment.description %></td>
                  <td> <span class="pull-right"><%=number_to_currency payment.credit_amounts.sum(:amount) %></span> </td>

                </tr>
              <% end %>
            </tbody>
          </table>
